                <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                    <div class="title-group mb-3">
                        <h1 class="h2 mb-0">Services</h1>
                    </div>

                    <div class="row my-4">



                        <div class="col-lg-7 col-12">
                            <div class="custom-block custom-block-balance">
                                <p>Insert Date De Reference</p>
                                <form action="" name="insertservice">
                                    <div>
                                        <p>Date De Reference</p>
                                        <input class="form-control" type="Date" name="profile-name" id="profile-name">

                                        <div class="d-flex">
                                            <button type="button" class="form-control me-3" name="adddate">
                                                Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                    
                        </div>

                    </div>
                </main>

            </div>
        </div>